@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin border($col) {
    display: block;
    border: 1px solid $col;
    padding: 10px;
    margin: 10px;
}