@import '_variables.scss';

nav {
    @include border(black);
    @include flex(row);
}

aside {
    @include flex(row);
}

span {
    @include border(white);
}

#list {
    @include border(black);
    @include flex(row);
}

#check {
    display: flex;
    align-self: flex-start;
}