@import '_variables.scss';

nav {
    @include border(black);
    @include flex(row);
}

aside {
    @include flex(row);
}

#form {
    @include border(black);
    @include flex(column);
}

#type {
    @include border(black);
    @include flex(column);
}